.main {
  margin-left: 1rem;
  margin-top: 1.2rem;
  height: 37rem; /*610px;1200px;*/
  width: 75rem;
  /* background-color: palegreen; */
}

.grid {
  position: relative;
  height: 518px;
  width: 932px;
  top: 20px;
  left: 160px;

  border: 1px solid black;
}

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

.highlight {
  background-color: rgb(35, 133, 133);
}
.food {
  background-color: aqua;
}

#scoreHr {
  width: 60%;
  margin-left: 2px;
}

.progress {
  position: absolute;
  left: 1.3rem;
  top: 13rem;

  height: 150px;
  width: 110px;
  /* background-color: rgb(83, 90, 114); */
  align-items: center;
}

#playingStatus {
  position: absolute;
  bottom: 1.8rem;
  left: 32rem;
}

.controls {
  position: absolute;
  right: 5rem;
  bottom: 21rem;
}

#score {
  position: relative;
  left: 1.5rem;
}
